# Default ignored files
**/.idea/workspace.xml
backend/venv/
/.idea/
*.pyc
backend/config/__pycache__/urls.cpython-38.pyc
backend/eventapp/__pycache__/
backend/config/__pycache__/
backend/eventapp/migrations/
venv
.idea
*.pyc
_pycache_
db.sqlite3
